@import "fonts/montserrat.css";
@import "fonts/work_sans.css";
@import "fonts/vipnagorgialla.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Work Sans", "Rajdhani", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('./assets/bg.png');/**/
}

@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe'), url('./fonts/Louis George Cafe.ttf') format('truetype');
}

@font-face {
  font-family: 'Rounded_Elegance';
  src: local('Rounded_Elegance'), url('./fonts/Rounded_Elegance.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
  perspective: 500px;
}

:root {
  --main-panel-color: rgba(15, 28, 46, 0.73);
  --sub-panel-color: rgba(10, 18, 31, 0.73);
  --glass-dot-color: rgba(10, 5, 5, 0.5);
  --glass-border-color: rgba(255, 255, 255, 0.18);
  --glass-inner-highlight: rgba(255, 255, 255, 0.15);
  --glass-inner-glow: rgba(255, 255, 255, 0.04);
  --glass-drop-shadow: rgba(0, 0, 0, 0.45);
  --white-dull: rgba(10, 5, 5, 0.25);
  --white-full: rgba(255, 255, 255, 1);
  --white-half: rgba(229, 229, 238, 0.5);
  --color-gray: rgba(163, 155, 176, 1.0);
  --color-moneys: #69B578;
  --dev-purple: rgba(200, 0, 255, 1);
  --color-t: #c19511;
  --color-ct: #5788a8;
  --color-new-t: #EDAE49;
  --color-new-ct: #00A3E0;
  --color-bomb: rgba(255, 66, 66, 0.8);
  --color-defuse: #4D6CFA;
}

.layout {
  font-family: "Work Sans", "Rajdhani", 'Roboto', sans-serif;
}



